<link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<div class="gallery">
  <img src="https://assets.codepen.io/8889025/Collabrorative.PNG" alt="a hot air balloon" (click)="scrollToSection('section1')">
  <img src="https://assets.codepen.io/8889025/Adventurous.PNG" (click)="scrollToSection('section2')">
  <img src="https://assets.codepen.io/8889025/Reliable.PNG" alt="a small boat" (click)="scrollToSection('section3')">
  <img src="https://assets.codepen.io/8889025/Energetic.PNG" alt="a forest" (click)="scrollToSection('section4')">
</div>


<body>
  <div class="sousbody">

    <nav class="navMenu">
      <a href="#">Home</a>
      <a href="#">Service</a>
      <a href="#">Profile</a>
      <a href="#">Log out </a>
    </nav>

    <div class="title">
      <span>AGENT</span>
    </div>


  <div id="section1"  class="section">
    <div class="titrecontainer">
      <span>Réclamation</span>
    </div>

    <!--Partie de Formulaires-->
    <div class="container">
        <div class="contact-info">
            <h2>Contact Info</h2>
            <div class="info-item">
                <img src="address-icon.png" alt="Adresse">
                <div>
                    <h3>Adresse</h3>
                    <p>10, rue Mohamed ElKaghat - b.p.2097 - 30000 Fès</p>
                </div>
            </div>
            <div class="info-item">
                <img src="phone-icon.png" alt="Téléphone">
                <div>
                    <h3>Téléphone</h3>
                    <p>0535 728 111</p>
                </div>
            </div>
            <div class="info-item">
                <img src="email-icon.png" alt="Email">
                <div>
                    <h3>Email</h3>
                    <p>reclamation#radeef.ma<br>contact#radeef.ma</p>
                </div>
            </div>
            <div class="info-item">
                <img src="website-icon.png" alt="SiteWeb">
                <div>
                    <h3>SiteWeb</h3>
                    <p><a href="http://www.RADEEF.ma">www.RADEEF.ma</a></p>
                </div>
            </div>
        </div>

        <div class="form-container">
            <h2>Demande d'Information et Réclamation</h2>
            <form action="#" method="POST">
                <div class="form-group">
                    <input type="text" name="name" placeholder="Nom et Prénom" required>
                    <input type="text" name="subscription" placeholder="Contrat d'Abonnement" required>
                </div>

                <div class="form-group">
                    <input type="text" name="phone" placeholder="Téléphone">
                    <input type="email" name="email" placeholder="Email" required>
                </div>

                <div class="form-group">
                  <input type="text" name="category" placeholder="Category" required>
                  <input type="text" name="Address" placeholder="Address" required>
                </div>

                <div class="form-group">
                    <textarea name="details" placeholder="Détail complémentaire de la réclamation" required></textarea>
                </div>
                <button type="submit">Envoyer</button>
            </form>
        </div>
    </div>
  </div>



  <div id="section2" class="section">

    <div class="titrecontainer">
      <span>Services</span>
    </div>

    <div class="container">
        <div class="sidebar">
            <div class="status-container">
                <h3>Status des Demandes</h3>
                <div class="status">
                    <span class="status-label">Creees</span>
                    <span class="status-icon blue">500</span>
                </div>
                <div class="status">
                    <span class="status-label">En cours</span>
                    <span class="status-icon yellow">300</span>
                </div>
                <div class="status">
                    <span class="status-label">En attente</span>
                    <span class="status-icon green">904</span>
                </div>
                <div class="status">
                    <span class="status-label">Annulées</span>
                    <span class="status-icon red">24</span>
                </div>
            </div>

            <div class="latest-requests-container">
                <h3>Liste des Dernières Demandes</h3>
                <ul class="latest-requests">

                  <li>
                    <strong>Catégorie:</strong> Abonnement
                    <strong>Adressée à:</strong> Service Client
                    <strong>Date:</strong> 12/05/2023
                </li>

                <li>
                    <strong>Catégorie:</strong> Réclamation
                    <strong>Adressée à:</strong> Support Technique
                    <strong>Date:</strong> 15/05/2023
                </li>

                <li>
                    <strong>Catégorie:</strong> Abonnement
                    <strong>Adressée à:</strong> Service Client
                    <strong>Code:</strong> 54321
                </li>

                <li>
                    <strong>Catégorie:</strong> Réclamation
                    <strong>Adressée à:</strong> Support Technique
                    <strong>Date:</strong> 20/05/2023
                </li>

                </ul>
            </div>

        </div>

        <div class="main-content">
            <div class="filter-bar">
                <button class="filter-button">Client</button>
                <button class="filter-button">Abonnement</button>
                <button class="filter-button">Réclamation</button>
            </div>
            <div class="search-bar-container">
              <input type="text" placeholder="Rechercher..." class="search-bar">
            </div>
            <div class="requests-list">
              <div class="request-item">
                  <strong>Catégorie:</strong> Abonnement
                  <strong>Adressée à:</strong> Service Client
                  <strong>Code:</strong> 12345
                  <strong>Date:</strong> 12/05/2023
              </div>
              <div class="request-item">
                  <strong>Catégorie:</strong> Réclamation
                  <strong>Adressée à:</strong> Support Technique
                  <strong>Code:</strong> 67890
                  <strong>Date:</strong> 15/05/2023

              </div>
              <div class="request-item">
                  <strong>Catégorie:</strong> Abonnement
                  <strong>Adressée à:</strong> Service Client
                  <strong>Code:</strong> 54321
                  <strong>Date:</strong> 18/05/2023
              </div>
          </div>
        </div>

    </div>

  </div>

</div>
</body>




<div class="form-container">
  <h2>Demande d'Information et Réclamation</h2>
  <form (ngSubmit)="addReclamation()" #reclamationForm="ngForm">
    <div class="form-group">
      <input type="text" name="nomClient" placeholder="Nom et Prénom" [(ngModel)]="newReclamation.nomClient" required>
    </div>

    <div class="form-group">
      <input type="text" name="telephone" placeholder="Téléphone" [(ngModel)]="newReclamation.telephone">
      <input type="email" name="email" placeholder="Email" [(ngModel)]="newReclamation.email" required>
    </div>

    <div class="form-group">
      <select name="category" [(ngModel)]="newReclamation.category" required>
        <option *ngFor="let category of categories" [value]="category">
          {{ category }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <input type="text" name="gravity" [(ngModel)]="gravity" placeholder="Gravité">
      <input type="number" name="days" [(ngModel)]="days" placeholder="Nombre de jours">
      <input type="number" name="occurrences" [(ngModel)]="occurrences" placeholder="Nombre de fois">
    </div>

    <div class="form-group">
      <input type="text" name="description" placeholder="Détail complémentaire de la réclamation" [(ngModel)]="newReclamation.description" required>
    </div>

    <button type="submit">Envoyer</button>
  </form>
</div>





<div>
  <h1>Reclamations</h1>
  <div *ngFor="let reclamation of reclamations">
    <p>{{ reclamation.idFonctionnel }} - {{ reclamation.nomClient }} - {{ reclamation.telephone }} - {{ reclamation.status }}
      - {{ reclamation.email }} - {{ reclamation.category }} - {{ reclamation.departement.nom }} - {{ reclamation.agent.username }}</p>
  </div>
</div>

<div>
  <h1>departement</h1>
  <div *ngFor="let departement of departements">
    <p>{{ departement.id }} - {{ departement.nom }} - {{ departement.chefDepartement.username }} </p>
  </div>
</div>
