.step-indicator {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.arrow-step {
  width: 100px;
  height: 100px;
  background: gray;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.arrow-step.active-step {
  background: var(--bs-primary);
}

.arrow-step.inactive-step {
  background: lightgray;
}

.arrow-step span {
  position: absolute;
  bottom: -20px;
  font-size: 0.9rem;
  font-weight: bold;
}

.arrow-step i {
  color: white;
}

.arrow-step:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -50px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 50px solid lightgray;
  transform: translateY(-50%);
}

.arrow-step.active-step:not(:last-child)::after {
  border-left-color:  var(--bs-primary);
}
.divider-line {
  border: 0;
  height: 5px;
  background: var(--bs-primary); /* Utilisation de la couleur primaire Bootstrap */
  margin: 5px 0px;
  padding: 0px;

}
