

      <!-- Container Star -->
      <div class="container">

        <div class="row">
          <div class="col">
            <h2>Formulaire Intervention</h2>
          </div>
          <div class="col">
            <button type="button" class="btn btn-outline-primary m-1" (click)="enterAddMode()">Nouveau</button>
            <button type="button" class="btn btn-outline-secondary m-1" (click)="enterEditMode()">Modifier</button>
          </div>
        </div>

        <div class="row">
          <div class="col">
            1 of 3
          </div>

          <div class="col col-lg-5 shadow p-2 m-2 bg-body-tertiary rounded ">
            <form class="row g-2 p-4" (ngSubmit)="editMode ? updateIntervention(this.currentUser!.id) : addIntervention(this.currentUser!.id)" #reclamationForm="ngForm">

              <!--Modifer-->
              <div class="col-md-12" *ngIf="editMode">
                <label for="inputAddress" class="form-label">Intervention</label>
                <input
                  type="text"
                  class="form-control form-control-sm"
                  name="idFonctionnel"
                  placeholder="N-Intervention"
                  [(ngModel)]="newIntervention.reclamation.idFonctionnel"
                  (ngModelChange)="verifyIntervention($event)"
                  required
                >
                <div *ngIf="!reclamationExist" class="text-danger">Intervention n'existe pas</div>
              </div>

               <!--Ajouter-->
               <div class="col-md-6" *ngIf="editMode == false">
                <label for="inputAddress" class="form-label">Reclamation</label>
                <input
                  type="text"
                  class="form-control form-control-sm"
                  name="idFonctionnel"
                  placeholder="N-Reclamation"
                  [(ngModel)]="newIntervention.reclamation.idFonctionnel"
                  (ngModelChange)="verifyReclamation($event)"
                  required
                >
                <div *ngIf="!reclamationExist" class="text-danger">Reclamation n'existe pas</div>
              </div>



              <div class="col-md-6">
                <label for="inputAddress" class="form-label">Titre</label>
                <input type="text" class="form-control form-control-sm" name="Titre" placeholder="Titre" [(ngModel)]="newIntervention.titre" required>
              </div>

              <div class="col-md-6 was-validated">
                <label for="serviceSelect" class="form-label">Service</label>
                <select class="form-select form-select-sm" name="Service" [(ngModel)]="service_id" [(ngModel)]="newIntervention.service.id" (change)="onServiceChange($event)" required>
                  <option value=""></option>
                  <option *ngFor="let service of services" [value]="service.id">
                    {{ service.nom }}
                  </option>
                </select>
              </div>

              <div class="col-md-6 was-validated">
                <label for="serviceSelect" class="form-label">Technicien</label>
                <select class="form-select form-select-sm" name="Technicien" [(ngModel)]="newIntervention.technicien!.id" required>
                  <option value=""></option>
                  <option *ngFor="let technicien of techniciens" [value]="technicien.userId">
                    {{ technicien.username }}
                  </option>
                </select>
              </div>

              <div class="col-md-6">
                <label for="inputAddress" class="form-label">Date de Début</label>
                <input type="datetime-local" class="form-control form-control-sm" name="dateDebut" [(ngModel)]="newIntervention.dateDebut" required>
              </div>

              <div class="col-md-6">
                <label for="inputAddress" class="form-label">Date de Fin Estimée</label>
                <input type="datetime-local" class="form-control form-control-sm" name="dateFin" [(ngModel)]="dateFinEstimee" required>
              </div>


              <div class="input-group">
                <span class="input-group-text">Détail</span>
                <textarea  type="text" class="form-control form-control-sm" rows="4" aria-label="With textarea" name="description" placeholder="Détail complémentaire de l'Intervention" [(ngModel)]="newIntervention.description" required></textarea>
              </div>

              <div class="d-grid gap-2 col-3 mx-auto">
                <button type="reset" class="btn btn-outline-danger" >Annuler</button>
              </div>

              <div class="d-grid gap-2 col-9 mx-auto">
                <button type="submit" class="btn btn-outline-primary" [disabled]="!reclamationExist">Envoyer</button>
              </div>


            </form>
          </div>

          <div class="col">
            3 of 3
          </div>

        </div>

        <div class="row ">
          <div class="col">
            1 of 2
          </div>
          <div class="col">
            2 of 2
          </div>
        </div>

      </div>
    <!-- Container End -->
