


      <!-- Container Star -->
      <div class="container">

        <div class="row mb-3">
          <div class="col">
            <h2>Intervention</h2>
          </div>
          <div class="col">
            2 of 2
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-1">
            1 of 3
          </div>


          <div class="col-7">
            <div class="card shadow">

              <div class="card-header bg-primary text-white">
                <span class="float-star me-5"> N°/ {{ intervention.reclamation.idFonctionnel }}</span>
                <span class="float-end ms-5">{{ intervention.createdAt | date:'yyyy-MM-dd' }}</span>
              </div>

              <div class="card-body">

                <div class="row">

                  <div class="col-6">
                    <h6 class="text-uppercase">Date Debut</h6>
                    <p>{{ intervention.dateDebut | date:'yyyy-MM-dd' }}</p>
                  </div>
                  <div class="col-3">
                    <h6 class="text-uppercase">Date Fin</h6>
                    <p>{{ intervention.dateFin | date:'yyyy-MM-dd' }}</p>
                  </div>
                  <div class="col-3 ">
                    <span *ngIf="intervention.status == 'En cours'"  class="float-end spinner-grow spinner-grow text-warning me-3"></span>
                    <span *ngIf="intervention.status == 'Terminer'"  class="float-end spinner-grow spinner-grow text-success me-3"></span>
                    <span class=" float-end me-2">{{ intervention.status}}</span>
                  </div>

                </div>

                <div class="row">
                  <div *ngIf="intervention.equipe != null" class="col">
                    <h6 class="text-uppercase">En Equipe</h6>
                    <p>Equipe :{{intervention.equipe.nom}}</p>
                    <p>techniciens :{{intervention.equipe.techniciens}}
                  </div>
                  <div *ngIf="intervention.technicien != null" class="col">
                    <h6 class="text-uppercase">Individual</h6>
                    <p class="m-0">{{intervention.technicien.username}}</p>
                    <p>{{intervention.technicien.description}}
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <h6 class="text-uppercase">Category</h6>
                    <p>{{ intervention.reclamation.category }}</p>
                  </div>
                  <div class="col">
                    <h6 class="text-uppercase">Situation</h6>
                    <p>{{ intervention.reclamation.situation }}</p>
                  </div>
                </div>

                <div class="row mb-2">
                  <h6 class="text-uppercase">Description</h6>
                  <p>{{ intervention.description }}</p>
                </div>

                <div class="row mt-2 ">
                  <h6 class="text-uppercase">Informations Client</h6>
                  <ul class="list-group mb-3">
                    <li class="list-group-item">
                      <strong>Nom: </strong>{{ intervention.reclamation.nomClient }}
                    </li>
                    <li class="list-group-item">
                      <strong>Adresse: </strong>
                      {{ intervention.reclamation.ville }} {{ intervention.reclamation.quartier }} {{ intervention.reclamation.nomRue }}
                    </li>
                    <li class="list-group-item">
                      <strong>Téléphone: </strong>{{ intervention.reclamation.telephone }}
                    </li>
                  </ul>
                </div>
              </div>
              <div class="card-footer">
                <button class="btn btn-danger  float-star">Repport</button>
                <button type="button" class="btn btn-primary float-end" (click)="ChangeStatus(this.currentUser!.id)" [disabled]="intervention.status == 'Terminer'">Terminer</button>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow " style="width: 18rem;" (click)="openGoogleMaps()">
              <img src="https://cdn.prod.website-files.com/6050a76fa6a633d5d54ae714/609147088669907f652110b0_report-an-issue(about-maps).jpeg" class="card-img-top" alt="localisation">
              <div class="card-body">
                <h5 class="card-title">GPS</h5>
                <h6 class="card-subtitle text-body-secondary"> {{ intervention.reclamation.pays }}, {{ intervention.reclamation.ville }}</h6>
                <p class="card-text">
                  {{ intervention.reclamation.quartier}}, {{ intervention.reclamation.nomRue }}
                </p>
              </div>
            </div>
          </div>


          <div class="col-1">
            3 of 4
          </div>

        </div>

        <div class="row mb-3 ">
          <div class="col">
            1 of 2
          </div>
          <div class="col">
            2 of 2
          </div>
        </div>

      </div>
    <!-- Container End -->
