

<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100 ">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black shadow" style="background-image: url('https://www.radeef.ma/assetsFront/images/upload/section-hero-banner-01.jpg'); background-size: cover; background-position: center;">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class=" mt-1 mb-4 pb-1">
                  <img src="https://www.radeef.ma/assetsFront/images/upload/logo-dark2.jpg"
                    style="width: 150px;" alt="logo">
                </div>

                <form (ngSubmit)="onSubmit()">
                  <p>Please login to your account</p>

                  <div data-mdb-input-init class="form-outline mb-4">
                    <input type="email" id="form2Example11" class="form-control shadow" [(ngModel)]="email" name="email"
                      placeholder="email address" />
                    <label class="form-label" for="form2Example11">Username</label>
                  </div>

                  <div data-mdb-input-init class="form-outline mb-4">
                    <input type="password" id="form2Example22" class="form-control shadow" [(ngModel)]="password" name="password" />
                    <label class="form-label" for="form2Example22">Password</label>
                  </div>

                  <div class="text-center pt-1 mb-5 pb-1">
                    <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block text-dark fa-lg bg-primary-subtle mb-3" type="submit">Login</button>
                    <a class="text-muted m-2" href="#!">Forgot password?</a>
                  </div>
                </form>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
