

  <!-- Container Star -->
    <div class="container">

        <div class="row">
          <div class="col">
          </div>

          <div class="col-8 shadow-sm px-2 m-2 bg-body-tertiary rounded">

            <div class="row mb-2">
              <div class="card-header bg-primary rounded text-white shadow-sm">
                <h2 class="p-1 m-2">Formulaire Reclamation</h2>
              </div>
            </div>

            <form class="row g-2 py-3 px-5 mb-2" (ngSubmit)="editMode ? updateReclamation() : addReclamation()" #reclamationForm="ngForm">

              <div class="col-md-12" *ngIf="editMode">

                <label for="inputIdFonctionnel" class="form-label">ID Fonctionnel</label>
                <input type="text" class="form-control form-control-sm" name="idFonctionnel" placeholder="N-Reclamation" [(ngModel)]="newReclamation.idFonctionnel"(ngModelChange)="verifyReclamation($event)" required disabled>
                <div *ngIf="!reclamationExist" class="text-danger">Reclamation n'existe pas</div>

              </div>

              <div class="col-md-6">
                <label for="inputAddress" class="form-label">Nom et Prénom</label>
                <input type="text" class="form-control form-control-sm" name="nomClient" placeholder="Nom et Prénom" [(ngModel)]="newReclamation.nomClient" required>
              </div>

              <div class="col-md-6">
                <label for="inputAddress" class="form-label">Téléphone</label>
                <input type="text" class="form-control form-control-sm" name="telephone" placeholder="Téléphone" [(ngModel)]="newReclamation.telephone" required>
              </div>

              <div class="col-12">
                <label for="inputAddress" class="form-label">Email</label>
                <input type="email" class="form-control form-control-sm" name="email" placeholder="Email" [(ngModel)]="newReclamation.email" required>
              </div>

              <div class="form-check col-6">
                <input class="form-check-input" type="radio" name="exampleRadios" id="validationSuccess1" value="option1" [(ngModel)]="selectedOption" (change)="onOptionChange()">
                <label class="form-check-label mb-2" for="validationSuccess1">
                  Contrat Abonnement
                </label>
              </div>

              <div class="form-check col-6">
                <input class="form-check-input" type="radio" name="exampleRadios" id="validationSuccess2" value="option2" [(ngModel)]="selectedOption" (change)="onOptionChange()">
                <label class="form-check-label mb-2" for="validationSuccess2">
                  Addresse
                </label>
              </div>

              <div class="col-12 px-5" *ngIf="selectedOption === 'option1'">
                <input type="text" class="form-control form-control-sm" name="codeAbonnement" placeholder="Code Abonnement" [(ngModel)]="codeAbonnement" (ngModelChange)="verifyCode($event)" required>
                <div *ngIf="!codeExist" class="text-danger">Code d'abonnement invalide</div>

              </div>

              <div class="col-12 px-5" *ngIf="selectedOption === 'option2'">
                <input type="text" class="form-control form-control-sm mb-2" name="pays" placeholder="pays" [(ngModel)]="newReclamation.pays" required disabled>
                <input type="text" class="form-control form-control-sm mb-2" name="ville" placeholder="ville" [(ngModel)]="newReclamation.ville" required disabled>
                <select class="form-select form-select-sm mb-2" name="quartier" placeholder="quartier" [(ngModel)]="newReclamation.quartier" required>
                  <option></option>
                  <option *ngFor="let quartier of quartiers" [value]="quartier">
                    {{ quartier }}
                  </option>
                </select>
                <input type="text" class="form-control form-control-sm mb-2" name="nomRue" [(ngModel)]="newReclamation.nomRue" required>

              </div>

              <div class="col-md-8">
                <label for="inputAddress" class="form-label">Catégorie</label>
                <select class="form-select form-select-sm" name="Category" [(ngModel)]="newReclamation.category" required>
                  <option></option>
                  <option *ngFor="let category of categories" [value]="category">
                    {{ category }}
                  </option>
                </select>
              </div>

              <div class="col-md-4">
                <label for="inputAddress" class="form-label">Situation</label>
                <select class="form-select form-select-sm" name="Situation" [(ngModel)]="newReclamation.situation" required>
                  <option></option>
                  <option *ngFor="let situation of situations" [value]="situation">
                    {{ situation }}
                  </option>
                </select>
              </div>

              <div class="col-md-6">
                <label for="inputAddress" class="form-label">Periode</label>
                <select type="text" class="form-select form-select-sm" name="Periode" [(ngModel)]="newReclamation.periode" placeholder="periode">
                  <option></option>
                  <option *ngFor="let periode of periodes" [value]="periode">
                    {{ periode }}
                  </option>
                </select>
              </div>

              <div class="col-md-6">
                <label for="inputAddress" class="form-label">Occurrence</label>
                <select type="text" class="form-select form-select-sm" name="occurrence" [(ngModel)]="newReclamation.occurrence" placeholder="occurrence">
                  <option value=""></option>
                  <option *ngFor="let occurrence of occurrences" [value]="occurrence">
                    {{ occurrence }}
                  </option>
                </select>
              </div>

              <div class="col-md-6">
                <label for="departementSelect" class="form-label">Département</label>
                <select class="form-select form-select-sm" name="Departement" [(ngModel)]="selectedDepartementId" (change)="onDepartementChange($event)" required>
                  <option value=""></option>
                  <option *ngFor="let departement of departements" [value]="departement.id">
                    {{ departement.nom }}
                  </option>
                </select>
              </div>

              <div class="col-md-6">
                <label for="serviceSelect" class="form-label">Service</label>
                <select class="form-select form-select-sm" name="Service" [(ngModel)]="this.service.id" required>
                  <option value=""></option>
                  <option *ngFor="let service of services" [value]="service.id">
                    {{ service.nom }}
                  </option>
                </select>
              </div>

              <div class="input-group">
                <span class="input-group-text">Détail</span>
                <textarea type="text" class="form-control form-control-sm" rows="4" aria-label="With textarea" name="description" placeholder="Détail complémentaire de la réclamation" [(ngModel)]="newReclamation.description" required></textarea>
              </div>

              <div class="d-grid gap-2 col-3 mx-auto">
                <button type="reset" class="btn btn-outline-danger">Annuler</button>
              </div>

              <div class="d-grid gap-2 col-5 mx-auto">
                <button *ngIf="!editMode" type="submit" class="btn btn-outline-primary" [disabled]="!reclamationForm.valid">Envoyer</button>
                <button *ngIf="editMode" [disabled]="!reclamationExist || !reclamationForm.valid" type="submit" class="btn btn-outline-primary">Modifier</button>
              </div>


              <div class="position-fixed top-50 start-50 translate-middle text-center p-5 rounded-3 bg-dark text-white" style="width: 300px;" *ngIf="showDetails">
                <!-- Icône de succès -->
                <i class="bi bi-check-circle-fill mb-3" style="font-size: 3rem; color: #28a745;"></i>

                <!-- Message de succès -->
                <h6 class="text-uppercase">Réclamation ajoutée avec succès !</h6>

                <!-- ID fonctionnel affiché -->
                <p>Le code de réclamation : <strong>{{ idFonctionnel }}</strong></p>
                <button type="reset" class="btn btn-outline-primary" (click)="closeDetails()">OK</button>
              </div>

            </form>

            <!--Message Succés-->


          </div>

          <div class="col">
          </div>
        </div>

    </div>
     <!-- Container End -->
